@import "variables.scss";

.bg {
  .img {
    background-image: url(https://images.unsplash.com/photo-1531538606174-0f90ff5dce83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
    background-color: lightblue;
    background-blend-mode: multiply;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: $light;
}

.signup-content {
  margin-top: 1em;
  width: 60%;
}

.ba-input {
  font-size: 2em;
  margin: 0.5em;
  padding: 0.1em;
}

.signup-button {
  outline: none;
  border: none;
  font-size: 2em;
  padding: 0.4em;
  background-color: $dark;
  color: $light;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
}
